html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    color: chocolate;
    background-color: #292838;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    width: 100%;
}

button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

#game-canvas {
    width: 100dvh;
    height: 100dvh;
}

#play-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 30px;
    background-color: #344d46;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

#play-menu p {
    margin-bottom: 0;
}

#play-menu #username-input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

#play-menu #username-input:hover {
    outline: none;
}

#leaderboard {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(16, 1, 1, 0.5);
    color: lime;
    padding: 10px;
    border-radius: 5px;
}

#leaderboard th {
    text-align: center;
    padding: 2px 5px;
}

#leaderboard td {
    text-align: center;
    padding: 2px 5px;
}

#disconnect-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal>div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 15px 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#sprite-select {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}


.sprite-card {
    position: relative;
}

.sprite-card:hover {
    transform: scale(1.1);
}

.sprite-card:has(input[type="radio"]:checked)::after  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-image: url(../../../public/check_mark-o.png);
    background-size: 64px 64px;
    display: inline-block;
    width: 64px; 
    height: 64px;
    content:"";
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    #play-menu {
        padding: 10px 15px;
        min-width: 280px;
    }

    #disconnect-modal>div {
        padding: 10px;
        min-width: 280px;
    }

    #leaderboard th {
        padding: 0 3px;
    }

    #leaderboard td {
        padding: 0 3px;
    }

    #leaderboard table {
        font-size: 14px;
    }
}